%set-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.blog-blc {
    @extend %set-blog;
    flex-direction: column;
    gap: 56px;

    .head-blog {
        @extend %set-blog;
        flex-direction: column;
        gap: 24px;
        
        %head-text {
            text-align: center;
            font-family: 'Plus Jakarta Sans';
            font-style: normal;
            height: auto;
            width: auto;
            margin: 0
        }

        h2 {
            @extend %head-text;
            color: var(--primary-black);
            font-size: 52px;
            font-weight: 700;
            line-height: 64px;
        }

        p {
            @extend %head-text;
            color: var(--dark-grey);
            font-feature-settings: 'liga' off;
            font-size: 24px;
            font-weight: 400;
            line-height: 36px;
            width: 694px;
        } 
    }

    .cards-blog {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 48px;
    }

    .btn-blog {
        @extend %set-blog;
        gap: 4px;
        margin-bottom: 84px;

        h6 {
            color: var(--primary-blue);
            font-family: 'Plus Jakarta Sans';
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            margin: 0;
            cursor: pointer;
        }

        h6:hover {
            text-decoration-line: underline;
        }

        img {
            width: 24px;
            height: 24px;
        }
    }
}