%blog-card-set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.blog-card {
    @extend %blog-card-set;
    width: 448px;
    gap: 24px;

    img {
        display: flex;
        align-self: stretch;
        width: auto;
        height: 300px;
        border-radius: 24px;
    }

    .text-card {
        @extend %blog-card-set;
        gap: 16px;
        
        h2 {
            display: flex;
            align-self: stretch;
            color: var(--primary-black);
            font-family: 'Plus Jakarta Sans';
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px;
            margin: 0;
        }

        p {
            overflow: hidden;
            color: var(--dark-grey);
            font-feature-settings: 'liga' off;
            text-overflow: ellipsis;
            font-family: 'Plus Jakarta Sans';
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            margin: 0;
        }
    }

    .categorie-card {
        display: flex;
        align-items: flex-start;
        gap: 12px;

        div {
            display: flex;
            padding: 8px 16px;
            justify-content: center;
            align-items: center;
            border-radius: 999px;
            background: var(--neutural-light-grey);

            p {
                color: var(--dark-grey);
                text-align: center;
                font-feature-settings: 'liga' off;
                font-family: 'Plus Jakarta Sans';
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                cursor: pointer;
                margin: 0;
            }
        }

        div:hover {
            outline: 2px solid var(--primary-black);
            
            p {
                color: var(--primary-black);
                font-weight: 800;
            }
        }
    }
}